Package: com.cm90.watranslator
Name: WATranslator
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: @CrazyMind90
Author: @CrazyMind90
Section: Tweaks
